<!doctype html>
<html lang="en">

 
<%- include partials/head %>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
       
        <%- include partials/header %>
        
        <%- include partials/left_sidebar %>
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Jenis </h2>                            
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">                                           
                        <div class="card">
                            <h5 class="card-header">Daftar Jenis</h5>
                            <div class="card-body">                             
                                <table id="tableJenis" class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Kode</th>
                                            <th>Nama</th>
                                            <th>Keterangan</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table> 
                                <div class="text-center mt-3">
                                    <span class="dashboard-spinner spinner-primary spinner-md" id="table-loader"></span>
                                </div>                             
                            </div>
                            <div class="card-footer">
                                <!-- Button trigger modal -->
                                <a href="#crudModal" class="btn btn-success" data-toggle="modal" data-target="#crudModal" data-action="tambah">
                                   <i class="fas fa-plus"></i> Tambah Jenis
                                </a>
                                <!-- Modal -->
                                <div class="modal fade" id="crudModal" tabindex="-1" role="dialog" aria-labelledby="crudModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="crudModalLabel">Modal title</h5>
                                                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </a>
                                            </div>
                                            <form action="/admin/cud/jenis" method="POST">
                                                <div class="modal-body">
                                                        <input type="hidden" name="action">
                                                        <input type="hidden" name="childId">
                                                        <div class="form-group">
                                                            <label for="namaTxt" class="col-form-label">Nama</label>
                                                            <input id="namaTxt" name="nama" type="text" class="form-control" placeholder="Masukkan Nama">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="kodeTxt" class="col-form-label">Kode</label>
                                                            <input id="kodeTxt" name="kode" type="text" class="form-control" placeholder="Masukkan Kode">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="keteranganTxt" class="col-form-label">Keterangan</label>
                                                            <textarea name="keterangan" class="form-control" style="width:100%" id="keteranganTxt" rows="5" placeholder="Masukkan Keterangan"></textarea>
                                                        </div>
                                                
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button id="submitBtn" class="btn btn-primary" type="submit">Simpan</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <%- include partials/footer %>
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <%- include partials/scripts_src %>
    <script>
        let jenisObj;
        // -------------read data---------------
        db.ref('jenis').orderByKey().once('value').then(function(snapshot){
            $('#table-loader').css('display','none');
            let num = 0;
            jenisObj = snapshot.val();  
            snapshot.forEach(function(satu){      
            num++;                  
            let satuData = satu.val();
            $('#tableJenis tbody').append(`
                <tr>
                    <td>` + num + `</td> 
                    <td>` + satuData.kode + `</td>
                    <td>` + satuData.nama + `</td>                     
                    <td>` + satuData.keterangan + `</td>              
                    <td>                            
                        <button class="btn btn-rounded btn-xs btn-primary mb-1" href="#crudModal" data-toggle="modal" data-action="edit" data-child-id="`+satu.key+`"><i class="fas fa-edit"></i> EDIT</button>
                        <button class="btn btn-rounded btn-xs btn-danger mb-1" href="#crudModal" data-toggle="modal" data-action="hapus" data-child-id="`+satu.key+`"><i class="fas fa-trash"></i> HAPUS</button>
                    </td>
                </tr>
            `);
            });
            $('#tableJenis').DataTable({ 
                responsive: true
            });
        });
        // -------------end read data---------------
      
        //------------ modal show ----------------
        let modalLabel, namaTxt, kodeTxt, keteranganTxt, submitBtn;
        $('#crudModal').on('show.bs.modal', function(e) {
            modalLabel =  $(e.currentTarget).find('h5[id="crudModalLabel"]');
            namaTxt =  $(e.currentTarget).find('input[id="namaTxt"]');
            kodeTxt =  $(e.currentTarget).find('input[id="kodeTxt"]');
            keteranganTxt =  $(e.currentTarget).find('textarea[id="keteranganTxt"]');
            submitBtn = $(e.currentTarget).find('button[id="submitBtn"]');
           
            let actionIn = $(e.currentTarget).find('input[name="action"]');
            let childIdIn = $(e.currentTarget).find('input[name="childId"]');
            let action = $(e.relatedTarget).data('action');
            let childId = $(e.relatedTarget).data('child-id');
            actionIn.val(action);
            childIdIn.val(childId);
            modalLabel.text(capitalizeFirstLetter(action) + " Jenis");
            
            if(childId != undefined){
                namaTxt.val(jenisObj[childId].nama);
                kodeTxt.val(jenisObj[childId].kode);                
                keteranganTxt.val(jenisObj[childId].keterangan);
            }
            if(action == 'hapus'){
                $('.modal-input').prop('disabled', true);
                submitBtn.text("Hapus");
            }
            
        });
        
        //------------ modal show ----------------
        //----------- modal hide -----------------------
        $('#crudModal').on('hidden.bs.modal', function (e) {
            $('.modal-input').prop('disabled', false);
            $('.modal-input').val('');
            submitBtn.val("Simpan");
        });
         //----------- modal hide -----------------------
    
    </script>
</body>
 
</html>